<footer class="site-footer h-card">
  <data class="u-url" href="{{ "/" | relative_url }}"></data>

  <div class="wrapper">

    <div class="footer-col-wrapper">
      <div class="footer-col">
        <p>{{ site.description | escape }}</p>
        <table>
          <tr>
            <td><a rel="me" href="https://infosec.exchange/@rmaloley" target="_blank">Infosec.exchange Mastodon</a></td>
            <td><a rel="me" href="https://mastodon.social/@rmaloley" target="_blank">Follow me on Mastodon Social</a></td>
            <td><a href="https://twitter.com/RichardRRCC" target="_blank">Birdsite</a></td>
          </tr>
        </table>
      </div>
    </div>

  </div>

</footer>